unstructured[pdf]
google-api-python-client
pymupdf
pymilvus
sentence-transformers
langchain-huggingface

#FOR EMBEDDING USING AMD GPU ROCM and ZLUDA ARE NEEDED
#cuda 11.8: https://download.pytorch.org/whl/cu118
torch==2.2.0 
torchvision

